@use 'reset';

// $color-primary: #e3f9fd;
// $color-secondary: #0e1e23;
// $color-accent: #0b3289;

$area-padding: 2rem;
$block-padding: 1rem;
$content-padding: 0.5rem;
$br-sm: 16px;

:root {
    // shadow
    --box-shadow-1: 0 3px 15px rgb(0,0,0,.2); 

    // transition
    --transition: all .3s ease-in-out;

    // 统一整个页面的 negative space，
    --inner-padding: 0.5rem;
    --nav-inner-margin: 0.4rem;

    // 颜色方案
    --color-primary: #F9F9f9;
    --color-secondary: #0e1e23;
    --color-secondary-rgb: 14, 30, 35;
    --color-secondary-lighted:  #c9e0e7;
    --color-accent: #ee4865;
    --color-accent-lighted: #f591a3; // 40
}

html {
    // font-size: calc(10px + 1vw);
    
}

body {
    // text
    // 还缺字体
    // width: 1000px;
    font-family: sans-serif;
    font-size: 1.1rem;
    color: var(--color-secondary);
    outline: var(--color-accent);
}

.dark-mode {
    // 颜色方案
    --color-primary: #191d2b;
    --color-secondary: white;
    --color-secondary-rgb:  255, 255, 255;
    --color-secondary-lighted:  #333333;
    --color-accent: #27ae60;
    --color-accent-lighted: #52be80; // 40
}

a {
    display: inline-block;
}

.section {
    // position
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    // box
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-primary);
    padding: 3rem 8rem;
    transform: translateY(-100%) scaleY(0);
    // style
    // transition: var(--transition);

    &.sec1 {
        padding: 0 0;
        // transform: translateY(0) scaleY(1);
        
    }
    
    &.section.active {
        display: block;
        transform: translateY(0) scaleY(1);
    
        animation: slideDown .5s ease-in-out ;
        @keyframes slideDown {
            0% {
                transform: translateY(-100%) scaleY(0);
            }
    
            100% {
                transform: translateY(0) scaleY(1);
            }
        }
    }
}

// nav container
nav {
    // position
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    // box: 由content决定

    // list container
    ul {
        // position
        
        // content layout
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            // position: flow as a flex item
            // box
            --var-tab-size: 55px;
            // margin: .4rem .8rem ;
            margin-block: var(--nav-inner-margin) ;
            width: var(--var-tab-size);
            height: var(--var-tab-size);
            border-radius: 40%;
            border: 0;
            
            background-color: var(--color-secondary);
            box-shadow: var(--box-shadow-1);
            
            // style
            transition: var(--transition);
            text-decoration-line: none;
            color: var(--color-primary);

            // content layout
            display: flex;
            flex-direction: row;
            justify-content: center; // main-axis
            align-items: center;
            overflow: hidden;

            &:hover,
            &.actived-btn {
                color: var(--color-accent);
                // background-color: lighten($color-secondary, %);
                // color: lighten($color-text, 20%);
            }

            i {
                font-size: calc(var(--var-tab-size) * 0.5);
            }
        }
    }


}

.home-content {
    // box-size
    height: 100vh;

    // position

    // content
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100%;
    .home-left{
        // box
        // position: create new stack context
        order: -1;
        position: relative;
        
        // content
        display: flex;
        align-items: center;
        .hero-shape {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;

            // box-size
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }

        .hero {
            // position
            // box
            border-radius: $br-sm;
            width: 68%;
            margin-left: 10%;
            background-color: var(--color-accent-lighted);
            // filter: brightness(1.2);
            // background-color: rgb(242, 167, 179);
            overflow: hidden;
            
            img {
                object-fit: cover;
                filter: blur(10px);
                transition: var(--transition);
                &:hover {
                    filter: none;
                }
            }

        }
    }

    .home-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 5rem;
        h2 {
            font-size: 3rem;
            transition: var(--transition);
            span {
                color: var(--color-accent);
            }
        }
        p {
            margin: 1.5rem 0;
            // line-height: 1.5;
        }
        a {
            text-decoration: none;
        }
    }

}

// about
.about-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: $area-padding;
    padding-left: $area-padding;
    
    .about-right {
        margin-left: $area-padding;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        h3 {
            font-size: 2rem;
            span {
                color: var(--color-accent);
            }
        }

        p {
            margin: $block-padding 0;
        }
        
        a {
            text-decoration: none;
        }
    }

    .about-left {
        .about-right-title {
            font-size: 2rem;
            margin-bottom: $block-padding;
            span {
                color: var(--color-accent);
            }
        }
        .about-cards {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 12rem);
            grid-auto-rows: 8rem;
            grid-gap: $block-padding;
            .about-item {
                // box
                transition: var(--transition);
                border: 1px solid var(--color-secondary);
                background-color: var(--color-primary);
                border-radius: $br-sm;
                padding: $content-padding;
                box-shadow: 1px 4px 10px black;
                &:hover {
                    cursor: default;
                    transform: translateY(-5px) scale(1.1);
                    border-color: var(--color-accent);
                    box-shadow: 1px 4px 15px black;
                    z-index: 1;
                }
                .abt-text {
                    display: flex;
                    flex-direction: column;
                    align-self: flex-start;
                    .large-text {
                        font-size: larger;
                        font-weight: bolder;
                    }
                    .small-text {
                        position: relative;
                        padding-left: 1em;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0.1em;
                            top: 50%;
                            width: 0.6em;
                            height: 2px;
                            background-color: var(--color-accent);
                        }    
                    }
                }
            }
        }
    }
}

.about-skills {
    margin-top: $area-padding;
    h3 {
        padding: $block-padding;
        text-align: center;
        font-size: 2rem;
        span {
            color: var(--color-accent);
        }
        position: relative;

        &::before {
            content: "";
            background-color: var(--color-secondary-lighted);
            height: 2px;
            width: 40%;

            // 
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;

        }
    }
    .progess-cards {
        display: grid;
        padding-top: $block-padding;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $block-padding; 
        .progress-item {
            .progress-title {
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress-bar {
                display: flex;
                align-items: center;
                .bar-text {
                    color: var(--color-secondary);
                }
                .bar-line {
                    position: relative;
                    width: 100%;
                    height: .45rem;
                    margin-left: $content-padding;
                    border: 1px solid var(--color-secondary);
                    border-radius: .2rem;
                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-accent);
                        transition: var(--transition);
                        // width: 90%;
                    }
                }
            }
        }
    }
}

// portfolio
.portfolio-text {
    text-align: center;
    padding: $area-padding;
}

.portfolio-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $block-padding;
    margin-top: $block-padding;
    .portfolio-item {
        border-radius: $br-sm;
        // border: 1px solid $color-ac;
        position: relative;
        // overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            // height: 200px;
            width: 100%;
            align-self: stretch;
            border-radius: $br-sm;
            object-fit: cover;
        }
        .project-info {
            height: 100%;
            width: 100%;
            background-color: rgb(var(--color-secondary-rgb),0.8 );
            border-radius: $br-sm;
            color: var(--color-primary);
            transform: scale(0);
            opacity: 0;
            transition: var(--transition);

            position: absolute;
            top: 0;
            left: 0;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            h3 {
                color: var(--color-accent);
            }
            
            p {
                padding: $block-padding;
                width: 100%;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .links {
                display: flex;
                flex-direction: row;

                a {
                    // outer box
                    margin: 0 $content-padding;
                    text-decoration: none;
                    height: 2rem;
                    width: 2rem;
                    background-color: var(--color-primary);
                    color: var(--color-secondary);
                    transition: var(--transition);
                    border-radius: 50%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover,
                    &:focus {
                        // background-color: $color-secondary;
                        color: var(--color-accent);
                    }
                }
            }

        }

        &:hover .project-info,
        &:focus-within .project-info {
            opacity: 1;
            transform: scale(1);
        }
    }
}

// blogs
.blog-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $area-padding;
    margin-top: $area-padding;
    
    .blog-item {
        position: relative;
        background-color: var(--color-secondary-lighted);
        // padding: $block-padding;
        border-radius: $br-sm;
        box-shadow: 1px 1px 10px var(--color-secondary);
        transition: var(--transition);
        display: flex;
        flex-direction: column;
        img {
            order: -1;
            border-top-left-radius: $br-sm;
            border-top-right-radius: $br-sm;
            width: 100%;
            object-fit: cover;
            transition: var(--transition);
        }

        .blog-info {
            // order: 0;
            padding: $content-padding;
            border-top: 3px solid var(--color-accent);
            h3 {
                text-align: left;
                transition: var(--transition);
            }
        }

        &:hover,
        &:focus {
            box-shadow: 1px 1px 10px var(--color-accent);
            h3 {
                color: var(--color-accent);
            }
        }
    }
}

// contact
.contact-content {
    padding-top: $area-padding;
    display: flex;
    .contact-left {
        flex: 2;
        h3 {
            color: var(--color-accent);
        }
        p {
            margin: $block-padding 0;
        }
        .contact-info {
            .contact-info-item {
                display: flex;
                .contact-info-item-icon {
                    width: 1.5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    // padding: $content-padding;}
            }
        }

        .contact-social {
            
            margin-top: $area-padding;

            display: flex;
            flex-direction: row;
            // justify-content: space-evenly;
            a {
                text-decoration: none;
                margin: 0 $block-padding;
                padding: $content-padding;
                border-radius: 50%;
                border: 1px solid var(--color-accent);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                font-size: 25px;
                transition: var(--transition);
                &:hover {
                    background-color: var(--color-accent);
                    color: var(--color-primary);
                }
            }
        }
    }
    .contact-right {
        flex: 3;
        margin-left: $area-padding;
        padding: 0 $block-padding;
        display: flex;
        flex-direction: column;
        h3 span {
            color: var(--color-accent);
        }
        .form-control {
            margin: $block-padding 0 ;
            display: flex;
            // justify-content: space-around;
            label {
                text-wrap: nowrap;
            }
            input, textarea{
                border-radius: $br-sm;
                padding: 0 .8em;
                outline: none;
                width: 100%;
                background-color: var(--color-primary);
                resize: none;
                color: var(--color-secondary);
            }
        }
        form section:last-child {
            button{
                border: none;
                background-color: inherit;
            }
            // background-color: #0e1e23;
            display: flex;
            justify-content: center;
        }
    }
}


// independent components
.btn-container {
    display: flex;
    .main-btn {
    
        // box
        border: 3px solid var(--color-accent);
        border-radius: 30px;
    
        position: relative;
        // content layout
        display: flex;
        align-items: center;
        overflow: hidden;
        // content style
        color: inherit;
        text-decoration: none;
        
        font-weight: 600;
    
        .btn-text {
            padding: 0 .8rem;
            color: var(--color-secondary)
        }
    
        .btn-icon {
            // box
            padding: .5rem;
            border-radius: 50%;
            background-color: var(--color-accent);
            overflow: hidden;
    
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateX(100%) translateY(-50%);
            width: 110%;
            height: 110%;
            border-radius: 30px;
            background-color: var(--color-accent);
            transition: var(--transition);
            z-index: -1;
        }
        &:hover {
            &::before {
                transform: translateX(-1px) translateY(-50%);
            }
        }
    }
}

.main-title {
    // box
    // position
    position: relative;
    // content
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    
    padding: 1rem;
    span {
        color: var(--color-accent);
    }
    .title-bg {
        // box
        // position
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        // content
        font-size: 6.5rem;
        font-weight: 800;
        color: var(--color-secondary-lighted);
        
    }
    
}

.theme-control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-primary);

    position: fixed;
    z-index: 10;
    top: 5%;
    right: 3%;
    cursor: pointer;
    transition: all .1s ease-in-out;
    &:active {
        transform: translateY(-5px);
    }
    i {
        pointer-events: none;
    }
}