@use 'reset';
@use 'md' as md;

// $color-primary: #e3f9fd;
// $color-secondary: #0e1e23;
// $color-accent: #0b3289;

$area-padding: 4rem;
$block-padding: 2rem;
$content-padding: 1rem;
$br-sm: 16px;

:root {
    // shadow
    --box-shadow-1: 0 3px 15px rgb(0,0,0,.2); 

    // transition
    --transition: all .3s ease-in-out;

    // 统一整个页面的 negative space，
    --inner-padding: 0.5rem;
    --nav-inner-margin: 0.4rem;

    // 颜色方案
    --color-surface: #{md.$md-sys-color-surface};
    --color-on-surface: #{md.$md-sys-color-on-surface};
    --color-surface-variant: #{md.$md-sys-color-surface-variant};
    --color-on-surface-variant: #{md.$md-sys-color-on-surface-variant};

    --color-secondary-rgb: 14, 30, 35;
    --color-secondary-lighted:  #c9e0e7;

    --color-primary: #{md.$md-sys-color-primary};
    --color-on-primary: #{md.$md-sys-color-on-primary};
    --color-primary-container: #{md.$md-sys-color-primary-container};
    --color-on-primary-container: #{md.$md-sys-color-on-primary-container};
    
    --color-secondary: #{md.$md-sys-color-secondary};
    --color-on-secondary: #{md.$md-sys-color-on-secondary};
    --color-secondary-container: #{md.$md-sys-color-secondary-container};
    --color-on-secondary-container: #{md.$md-sys-color-on-secondary-container};
    
    --color-outline: #{md.$md-sys-color-outline};

    --color-inverse-surface: #{md.$md-sys-color-inverse-surface};
    --color-inverse-on-surface: #{md.$md-sys-color-inverse-on-surface};
    --color-inverse-primary: #{md.$md-sys-color-inverse-primary};

    .dark-mode {
        // 颜色方案
        --color-surface: #{md.$md-sys-color-surface-dark};
        --color-on-surface: #{md.$md-sys-color-on-surface-dark};
        --color-surface-variant: #{md.$md-sys-color-surface-variant-dark};
        --color-on-surface-variant: #{md.$md-sys-color-on-surface-variant-dark};
    
        --color-primary: #{md.$md-sys-color-primary-dark};
        --color-on-primary: #{md.$md-sys-color-on-primary-dark};
        --color-primary-container: #{md.$md-sys-color-primary-container-dark};
        --color-on-primary-container: #{md.$md-sys-color-on-primary-container-dark};
        
        --color-secondary: #{md.$md-sys-color-secondary-dark};
        --color-on-secondary: #{md.$md-sys-color-on-secondary-dark};
        --color-secondary-container: #{md.$md-sys-color-secondary-container-dark};
        --color-on-secondary-container: #{md.$md-sys-color-on-secondary-container-dark};
        
        --color-outline: #{md.$md-sys-color-outline-dark};
    
        --color-inverse-surface: #{md.$md-sys-color-inverse-surface-dark};
        --color-inverse-on-surface: #{md.$md-sys-color-inverse-on-surface-dark};
        --color-inverse-primary: #{md.$md-sys-color-inverse-primary-dark};
    }
}

html {
    font-size: 10px;
}

body {
    // text
    // 还缺字体
    width: 1200px;
    font-family: sans-serif;
    font-size: 2rem;
    color: var(--color-on-surface);
    outline: var(--color-primary);
    background-color: var(--color-surface);
}


.title-media {
    // size
    font-size: 5rem;
    font-weight: bold;

    letter-spacing: .5rem;
    
    // vertical alignment
    line-height: 1.1;
    margin-bottom: 3.5rem;
}

.title-small {
    font-size: 3rem;
    line-height: 1.1;

    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

.sub-title-small {
    font-size: 2.5rem;
    line-height: 1.1;

    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

.body-media {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 3.5rem;
    letter-spacing: .1rem;
    font-weight: 500;
}

.body-small {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

a {
    display: inline-block;
}

.section {
    // position
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    // box
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-surface);
    padding: 3rem 8rem;
    transform: translateY(-100%) scaleY(0);
    // style
    // transition: var(--transition);

    &.sec1 {
        padding: 0 0;
        // transform: translateY(0) scaleY(1);
        
    }
    
    &.section.active {
        display: block;
        transform: translateY(0) scaleY(1);
    
        animation: slideDown .5s ease-in-out ;
        @keyframes slideDown {
            0% {
                transform: translateY(-100%) scaleY(0);
            }
    
            100% {
                transform: translateY(0) scaleY(1);
            }
        }
    }
}

// nav container
nav {
    // position
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    // box: 由content决定

    // list container
    ul {
        // position
        
        // content layout
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            // position: flow as a flex item
            // box
            --var-tab-size: 55px;
            // margin: .4rem .8rem ;
            margin-block: var(--nav-inner-margin) ;
            width: var(--var-tab-size);
            height: var(--var-tab-size);
            border-radius: 40%;
            border: 0;
            
            background-color: var(--color-secondary);
            
            box-shadow: var(--box-shadow-1);
            
            // style
            transition: var(--transition);
            text-decoration-line: none;
            color: var(--color-surface);

            // content layout
            display: flex;
            flex-direction: row;
            justify-content: center; // main-axis
            align-items: center;
            overflow: hidden;

            &:hover,
            &.actived-btn {
                background-color: var(--color-primary);
                i {
                    color: var(--color-on-primary);
                }
            }

            i {
                color: var(--color-on-secondary);
                font-size: calc(var(--var-tab-size) * 0.5);
            }
        }
    }


}

.home-content {
    // box-size
    height: 100vh;

    // position

    // content
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100%;
    .home-left{
        // box
        // position: create new stack context
        order: -1;
        position: relative;
        
        // content
        display: flex;
        align-items: center;
        .hero-shape {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;

            // box-size
            width: 65%;
            height: 100%;
            background-color: var(--color-primary);
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }

        .hero {
            // position
            // box
            border-radius: $br-sm;
            width: 68%;
            margin-left: 10%;
            background-color: var(--color-primary-container);
            overflow: hidden;
            
            img {
                object-fit: cover;
                filter: blur(8px);
                transition: var(--transition);
                &:hover {
                    filter: none;
                }
            }

        }
    }

    .home-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 5rem;
        
        a {
            text-decoration: none;
        }
    }
}

// about
.about-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: $area-padding;
    padding-left: $area-padding;
    
    .about-right {
        margin-left: $area-padding;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        h3 {
            span {
                color: var(--color-primary);
            }
        }
        
        a {
            text-decoration: none;
        }
    }

    .about-left {
        .about-right-title {
            span {
                color: var(--color-primary);
            }
        }
        .about-cards {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // grid-auto-rows: 8rem;
            grid-gap: $block-padding;
            .about-item {
                // box
                transition: var(--transition);
                border: 1px solid var(--color-on-surface);
                background-color: var(--color-surface);
                border-radius: $br-sm;
                padding: $content-padding;
                box-shadow: 1px 4px 10px black;
                &:hover {
                    cursor: default;
                    transform: translateY(-5px) scale(1.1);
                    border-color: var(--color-primary);
                    box-shadow: 1px 4px 15px black;
                    z-index: 1;
                }
                .abt-text {
                    .small-text {
                        position: relative;
                        padding-left: 1em;
                        margin-bottom: 0;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0.1em;
                            top: 50%;
                            width: 0.6em;
                            height: 2px;
                            background-color: var(--color-outline);
                        }    
                    }
                }
            }
        }
    }
}

.about-skills {
    margin-top: $area-padding;
    h3 {
        padding-top: 2rem;
        text-align: center;
        span {
            color: var(--color-primary);
        }
        position: relative;

        &::before {
            content: "";
            background-color: var(--color-outline);
            height: 2px;
            width: 40%;
            // 
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;

        }
    }
    .progess-cards {
        display: grid;
        padding-top: $block-padding;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $block-padding; 
        .progress-item {
            .progress-title {
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 0;
            }
            .progress-bar {
                display: flex;
                align-items: center;
                .bar-text {
                    color: var(--color-secondary);
                }
                .bar-line {
                    position: relative;
                    width: 100%;
                    height: 1rem;
                    margin-left: $content-padding;
                    border: 1px solid var(--color-on-surface);
                    border-radius: .5rem;
                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-primary);
                        transition: var(--transition);
                        // width: 90%;
                    }
                }
            }
        }
    }
}

// portfolio
.portfolio-text {
    text-align: center;
}

.portfolio-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $block-padding;
    margin-top: $block-padding;
    .portfolio-item {
        border-radius: $br-sm;
        // border: 1px solid $color-ac;
        position: relative;
        // overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            // height: 200px;
            width: 100%;
            align-self: stretch;
            border-radius: $br-sm;
            object-fit: cover;
        }
        .project-info {
            height: 100%;
            width: 100%;
            background-color: var(--color-inverse-surface);
            border-radius: $br-sm;
            color: var(--color-inverse-on-surface);
            transform: scale(0);
            opacity: 0;
            transition: var(--transition);

            position: absolute;
            top: 0;
            left: 0;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            h3 {
                color: var(--color-inverse-primary);
            }
            
            p {
                width: 100%;
                // white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .links {
                display: flex;
                flex-direction: row;
                --project-link-icon-size: 4rem;
                a {
                    // outer box
                    margin: 0 calc(var(--project-link-icon-size)*0.3);
                    text-decoration: none;
                    height: var(--project-link-icon-size);
                    width: var(--project-link-icon-size);
                    background-color: var(--color-inverse-on-surface);
                    color: var(--color-inverse-surface);
                    transition: var(--transition);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: calc(var(--project-link-icon-size)*0.6);
                    }

                    &:hover,
                    &:focus {
                        // background-color: $color-secondary;
                        background-color: var(--color-inverse-primary);
                    }
                }
            }

        }

        &:hover .project-info,
        &:focus-within .project-info {
            opacity: 1;
            transform: scale(1);
        }
    }
}

// blogs
.blog-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $area-padding;
    margin-top: $area-padding;
    
    .blog-item {
        position: relative;
        background-color: var(--color-surface-variant);
        color: var(--color-on-surface-variant);
        // padding: $block-padding;
        border-radius: $br-sm;
        box-shadow: 1px 1px 10px var(--color-on-surface);
        transition: var(--transition);
        display: flex;
        flex-direction: column;
        img {
            order: -1;
            border-top-left-radius: $br-sm;
            border-top-right-radius: $br-sm;
            width: 100%;
            object-fit: cover;
            transition: var(--transition);
        }

        .blog-info {
            // order: 0;
            padding: 1rem 2rem 0 2rem;
            border-top: 3px solid var(--color-primary);
            h3 {
                // text-align: left;
                transition: var(--transition);
            }
        }

        &:hover,
        &:focus {
            box-shadow: 1px 1px 10px var(--color-primary);
            transform: translateY(-5px);
            h3 {
                color: var(--color-primary);
                font-weight: bolder;
            }
        }
    }
}

// contact
.contact-content {
    padding-top: $area-padding;
    display: flex;
    .contact-left {
        flex: 2;
        h3 {
            color: var(--color-primary);
        }
        p {
            margin: $block-padding 0;
        }
        .contact-info {
            .contact-info-item {
                display: flex;
                .contact-info-item-icon {
                    width: 1.5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    // padding: $content-padding;}
            }
        }

        .contact-social {
            
            margin-top: $area-padding;

            display: flex;
            flex-direction: row;
            // justify-content: space-evenly;
            a {
                text-decoration: none;
                margin: 0 $block-padding;
                padding: $content-padding;
                border-radius: 50%;
                border: 1px solid var(--color-primary);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                font-size: 25px;
                transition: var(--transition);
                &:hover,
                &:focus {
                    background-color: var(--color-primary);
                    color: var(--color-surface);
                }
            }
        }
    }
    .contact-right {
        flex: 3;
        margin-left: $area-padding;
        padding: 0 $block-padding;
        display: flex;
        flex-direction: column;
        h3 span {
            color: var(--color-primary);
        }
        .form-control {
            margin: $block-padding 0 ;
            display: flex;
            // justify-content: space-around;
            label {
                text-wrap: nowrap;
            }
            input, textarea{
                border-radius: $br-sm;
                padding: 0 .8em;
                width: 100%;
                background-color: var(--color-surface);
                resize: none;
                color: var(--color-on-surface);
            }
        }
        form section:last-child {
            button{
                border: none;
                background-color: inherit;
            }
            // background-color: #0e1e23;
            display: flex;
            justify-content: center;
        }
    }
}

// independent components
.btn-container {
    display: flex;
    .main-btn {
        // box
        border: 2px solid var(--color-primary-container);
        border-radius: 30px;
        // background-color: var(--color-primary-container);
        position: relative;
        // content layout
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        overflow: hidden;
        // content style
        color: var(--color-on-primary-container);
        text-decoration: none;
        
        font-weight: 600;
    
        .btn-text {
            align-self: center;
            padding: 0 1rem 0 1.5rem;
            transition: var(--transition);
        }
    
        .btn-icon {
            // box
            
            padding: 1rem;
            border-radius: 50%;
            background-color: var(--color-primary-container);
            overflow: hidden;
            color: var(--color-on-primary-container);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateX(100%) translateY(-50%);
            width: 110%;
            height: 110%;
            border-radius: 30px;
            background-color: var(--color-primary-container);
            transition: var(--transition);
            z-index: -1;
        }
        &:hover {
            & {
                background: none;
            }
            &::before {
                transform: translateX(-1px) translateY(-50%);
            }

        }
    }
}

.main-title {
    // box
    // position
    position: relative;
    // content
    text-align: center;
    span {
        color: var(--color-primary);
        // line-height: 1.1;
    }
    .title-bg {
        // box
        // position
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        // content
        font-size: 10rem;
        font-weight: 800;
        color: var(--color-surface-variant);
    }
    
}

.theme-control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-secondary-container);
    color: var(--color-on-secondary-container);

    position: fixed;
    z-index: 10;
    top: 5%;
    right: 3%;
    cursor: pointer;
    transition: all .1s ease-in-out;
    &:active {
        transform: translateY(-5px);
    }
    i {
        pointer-events: none;
    }
}