/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  border: 0px;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --box-shadow-1: 0 3px 15px rgb(0,0,0,.2);
  --transition: all .3s ease-in-out;
  --inner-padding: 0.5rem;
  --nav-inner-margin: 0.4rem;
  --color-primary: #F9F9f9;
  --color-secondary: #0e1e23;
  --color-secondary-rgb: 14, 30, 35;
  --color-secondary-lighted: #c9e0e7;
  --color-accent: #ee4865;
  --color-accent-lighted: #f591a3;
}

body {
  font-family: sans-serif;
  font-size: 1.1rem;
  color: var(--color-secondary);
  outline: var(--color-accent);
}

.dark-mode {
  --color-primary: #191d2b;
  --color-secondary: white;
  --color-secondary-rgb: 255, 255, 255;
  --color-secondary-lighted: #333333;
  --color-accent: #27ae60;
  --color-accent-lighted: #52be80;
}

a {
  display: inline-block;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-primary);
  padding: 3rem 8rem;
  transform: translateY(-100%) scaleY(0);
}
.section.sec1 {
  padding: 0 0;
}
.section.section.active {
  display: block;
  transform: translateY(0) scaleY(1);
  animation: slideDown 0.5s ease-in-out;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

nav {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav ul a {
  --var-tab-size: 55px;
  margin-block: var(--nav-inner-margin);
  width: var(--var-tab-size);
  height: var(--var-tab-size);
  border-radius: 40%;
  border: 0;
  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow-1);
  transition: var(--transition);
  text-decoration-line: none;
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
nav ul a:hover, nav ul a.actived-btn {
  color: var(--color-accent);
}
nav ul a i {
  font-size: calc(var(--var-tab-size) * 0.5);
}

.home-content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100%;
}
.home-content .home-left {
  order: -1;
  position: relative;
  display: flex;
  align-items: center;
}
.home-content .home-left .hero-shape {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.home-content .home-left .hero {
  border-radius: 16px;
  width: 68%;
  margin-left: 10%;
  background-color: var(--color-accent-lighted);
  overflow: hidden;
}
.home-content .home-left .hero img {
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(10px);
  transition: var(--transition);
}
.home-content .home-left .hero img:hover {
  filter: none;
}
.home-content .home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5rem;
}
.home-content .home-right h2 {
  font-size: 3rem;
  transition: var(--transition);
}
.home-content .home-right h2 span {
  color: var(--color-accent);
}
.home-content .home-right p {
  margin: 1.5rem 0;
}
.home-content .home-right a {
  text-decoration: none;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2rem;
  padding-left: 2rem;
}
.about-content .about-right {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.about-content .about-right h3 {
  font-size: 2rem;
}
.about-content .about-right h3 span {
  color: var(--color-accent);
}
.about-content .about-right p {
  margin: 1rem 0;
}
.about-content .about-right a {
  text-decoration: none;
}
.about-content .about-left .about-right-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about-content .about-left .about-right-title span {
  color: var(--color-accent);
}
.about-content .about-left .about-cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 12rem);
  grid-auto-rows: 8rem;
  grid-gap: 1rem;
}
.about-content .about-left .about-cards .about-item {
  transition: var(--transition);
  border: 1px solid var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: 16px;
  padding: 0.5rem;
  box-shadow: 1px 4px 10px black;
}
.about-content .about-left .about-cards .about-item:hover {
  cursor: default;
  transform: translateY(-5px) scale(1.1);
  border-color: var(--color-accent);
  box-shadow: 1px 4px 15px black;
  z-index: 1;
}
.about-content .about-left .about-cards .about-item .abt-text {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.about-content .about-left .about-cards .about-item .abt-text .large-text {
  font-size: larger;
  font-weight: bolder;
}
.about-content .about-left .about-cards .about-item .abt-text .small-text {
  position: relative;
  padding-left: 1em;
}
.about-content .about-left .about-cards .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0.1em;
  top: 50%;
  width: 0.6em;
  height: 2px;
  background-color: var(--color-accent);
}

.about-skills {
  margin-top: 2rem;
}
.about-skills h3 {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  position: relative;
}
.about-skills h3 span {
  color: var(--color-accent);
}
.about-skills h3::before {
  content: "";
  background-color: var(--color-secondary-lighted);
  height: 2px;
  width: 40%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.about-skills .progess-cards {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.about-skills .progess-cards .progress-item .progress-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-skills .progess-cards .progress-item .progress-bar {
  display: flex;
  align-items: center;
}
.about-skills .progess-cards .progress-item .progress-bar .bar-text {
  color: var(--color-secondary);
}
.about-skills .progess-cards .progress-item .progress-bar .bar-line {
  position: relative;
  width: 100%;
  height: 0.45rem;
  margin-left: 0.5rem;
  border: 1px solid var(--color-secondary);
  border-radius: 0.2rem;
}
.about-skills .progess-cards .progress-item .progress-bar .bar-line span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-accent);
  transition: var(--transition);
}

.portfolio-text {
  text-align: center;
  padding: 2rem;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}
.portfolio-cards .portfolio-item {
  border-radius: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-cards .portfolio-item img {
  width: 100%;
  align-self: stretch;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio-cards .portfolio-item .project-info {
  height: 100%;
  width: 100%;
  background-color: rgb(var(--color-secondary-rgb), 0.8);
  border-radius: 16px;
  color: var(--color-primary);
  transform: scale(0);
  opacity: 0;
  transition: var(--transition);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.portfolio-cards .portfolio-item .project-info h3 {
  color: var(--color-accent);
}
.portfolio-cards .portfolio-item .project-info p {
  padding: 1rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.portfolio-cards .portfolio-item .project-info .links {
  display: flex;
  flex-direction: row;
}
.portfolio-cards .portfolio-item .project-info .links a {
  margin: 0 0.5rem;
  text-decoration: none;
  height: 2rem;
  width: 2rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: var(--transition);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-cards .portfolio-item .project-info .links a:hover, .portfolio-cards .portfolio-item .project-info .links a:focus {
  color: var(--color-accent);
}
.portfolio-cards .portfolio-item:hover .project-info, .portfolio-cards .portfolio-item:focus-within .project-info {
  opacity: 1;
  transform: scale(1);
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}
.blog-cards .blog-item {
  position: relative;
  background-color: var(--color-secondary-lighted);
  border-radius: 16px;
  box-shadow: 1px 1px 10px var(--color-secondary);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
}
.blog-cards .blog-item img {
  order: -1;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--transition);
}
.blog-cards .blog-item .blog-info {
  padding: 0.5rem;
  border-top: 3px solid var(--color-accent);
}
.blog-cards .blog-item .blog-info h3 {
  text-align: left;
  transition: var(--transition);
}
.blog-cards .blog-item:hover, .blog-cards .blog-item:focus {
  box-shadow: 1px 1px 10px var(--color-accent);
}
.blog-cards .blog-item:hover h3, .blog-cards .blog-item:focus h3 {
  color: var(--color-accent);
}

.contact-content {
  padding-top: 2rem;
  display: flex;
}
.contact-content .contact-left {
  flex: 2;
}
.contact-content .contact-left h3 {
  color: var(--color-accent);
}
.contact-content .contact-left p {
  margin: 1rem 0;
}
.contact-content .contact-left .contact-info .contact-info-item {
  display: flex;
}
.contact-content .contact-left .contact-info .contact-info-item .contact-info-item-icon {
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content .contact-left .contact-social {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.contact-content .contact-left .contact-social a {
  text-decoration: none;
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
  transition: var(--transition);
}
.contact-content .contact-left .contact-social a:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
}
.contact-content .contact-right {
  flex: 3;
  margin-left: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.contact-content .contact-right h3 span {
  color: var(--color-accent);
}
.contact-content .contact-right .form-control {
  margin: 1rem 0;
  display: flex;
}
.contact-content .contact-right .form-control label {
  text-wrap: nowrap;
}
.contact-content .contact-right .form-control input, .contact-content .contact-right .form-control textarea {
  border-radius: 16px;
  padding: 0 0.8em;
  outline: none;
  width: 100%;
  background-color: var(--color-primary);
  resize: none;
  color: var(--color-secondary);
}
.contact-content .contact-right form section:last-child {
  display: flex;
  justify-content: center;
}
.contact-content .contact-right form section:last-child button {
  border: none;
  background-color: inherit;
}

.btn-container {
  display: flex;
}
.btn-container .main-btn {
  border: 3px solid var(--color-accent);
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}
.btn-container .main-btn .btn-text {
  padding: 0 0.8rem;
  color: var(--color-secondary);
}
.btn-container .main-btn .btn-icon {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-accent);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-container .main-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(100%) translateY(-50%);
  width: 110%;
  height: 110%;
  border-radius: 30px;
  background-color: var(--color-accent);
  transition: var(--transition);
  z-index: -1;
}
.btn-container .main-btn:hover::before {
  transform: translateX(-1px) translateY(-50%);
}

.main-title {
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
}
.main-title span {
  color: var(--color-accent);
}
.main-title .title-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  font-size: 6.5rem;
  font-weight: 800;
  color: var(--color-secondary-lighted);
}

.theme-control {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  position: fixed;
  z-index: 10;
  top: 5%;
  right: 3%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.theme-control:active {
  transform: translateY(-5px);
}
.theme-control i {
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */