
@media (max-width: 30em) {
  body {
    background-color: antiquewhite;
  }
}

.specificity {
  color: red;
}

h1 {
  color: gray;
  /* background-color: blue; */
  background: 10px 10px;
}

li {
  list-style-type: none;
}

.home {
  color:orange;
}

h1 + p {
  font-size: 200%;
}

header p {
  color: green;
}

a:hover {
  text-decoration: none;
}

